/* CSS Reset  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom, #000428, #002e56);
  color: white;
}
.underline-animation {
  position: relative;
  text-decoration: none;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 187, 0);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}
.btn.get-btn {
  background: #ef6d41;
}
.btn {
  padding: 0.7em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #0d5cdc;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}
.btn.get-btn {
  background-color: rgb(18, 220, 18);
}

.banner-img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.banner-img img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-40px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px);
  }
}

/* why-us-section */
.why-us {
  width: 80%;
  margin: 0 auto;
}
.why-us > h2 {
  margin: 2rem;
  font-family: "Poppins", sans-serif;
  width: 50%;
}
.why-us > p {
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  width: 50%;
}
.why-us > .btn {
  margin: 2rem 0 0 2rem;
}
.why-us > .btn > a {
  text-decoration: none;
}
