/* Styles for desktops (769px - 968px) */
@media screen and (min-width: 769px) and (max-width: 968px) {
  nav {
    width: 100%;
  }
  .nav-img-link {
    width: 35%;
  }
  nav > ul {
    width: 65%;
  }
  .partners-banner > h1 {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: "Caprasimo", cursive;
    font-size: 2.3rem;
    padding: 0 3rem;
  }
  .partners-info {
    width: 90%;
  }
  .why-us {
    width: 80%;
  }
  .why-us > h2,
  .why-us > p {
    width: 80%;
  }
}
/* Styles for tablets (481px - 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* toogler-navigation */
  nav > ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
    display: flex;
    align-items: center;
    padding: 1em;
  }

  nav {
    justify-content: space-between;
  }
  .wrapper {
    flex-direction: column-reverse;
  }
  .banner,
  .banner-img {
    width: 100%;
    padding: 1rem;
  }
  .main-btns {
    width: 100%;
    bottom: 0;
    padding-left: 1rem;
  }
  /* Services-section */
  .services {
    flex-wrap: wrap;
  }
  .services > h1 {
    padding-bottom: 0;
  }
  .card {
    width: 33.33%;
    margin-bottom: 1rem;
  }
  .flex .card > img {
    width: 100%;
  }
  .card > h3,
  .card > p {
    padding-left: 1rem;
  }
  /* Contact-section */
  .contact {
    flex-direction: column;
  }
  .booking,
  .contact-now {
    width: 100%;
  }
  /* partner-section */
  .partners-banner > h1 {
    bottom: 4rem;
    font-size: 1.3rem;
    padding: 0;
  }
  .partners-info {
    width: 90%;
  }
  .partners-info > h3 {
    font-size: 1rem;
  }
  .why-us {
    width: 100%;
  }
  .why-us > h2,
  .why-us > p {
    width: 80%;
  }
  /* faq-section */
  .icons {
    width: 40%;
  }

  footer p {
    width: 80%;
  }
  /* form-section */
  form {
    width: 80%;
    padding: 2rem 2rem 2rem 5rem;
  }
  .contact-text > h1,
  .con-wrapper > h1 {
    text-align: left;
  }
  label,
  input,
  select,
  option {
    width: 100%;
  }
  .contact-btn {
    width: 100%;
  }
}

/* Styles for large smartphones (321px - 480px) */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .nav-img-link {
    width: 50%;
  }
  .nav-img-link > img {
    width: 100%;
  }
  nav > ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
  }
  .hamburger-menu {
    margin-bottom: 1rem;
  }
  /* main-section */
  .wrapper {
    flex-direction: column-reverse;
  }
  .banner {
    width: 100%;
    padding: 2rem;
  }
  .heading {
    font-size: 2rem;
  }
  .intro-para {
    font-size: 0.8rem;
  }
  .banner-img {
    width: 100%;
    padding: 2rem;
  }
  .main-btns {
    padding: 0 1rem;
    width: 80%;
    top: 0rem;
    display: flex;
  }

  /* services-section */
  .services > h1 {
    font-size: 1.5rem;
    padding: 0.7rem;
  }
  .services > p {
    width: 95%;
    margin: 0 auto;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .flex .card > img {
    width: 100%;
  }
  .card > h3,
  .card > p {
    width: 100%;
    padding-left: 1rem;
  }

  /* contact-section */
  .contact {
    flex-direction: column;
  }
  .booking,
  .contact-now {
    width: 100%;
  }
  /* partner-section */
  .partners-banner > h1 {
    bottom: 1.1rem;
    font-size: 1.2rem;
    padding: 0;
  }
  .partners-info {
    width: 90%;
  }
  .partners-info > h3 {
    font-size: 1rem;
  }
  .flex-imgs > img {
    width: 50%;
  }
  .why-us {
    width: 100%;
  }
  .why-us > h2 {
    font-size: 1.2rem;
    width: 80%;
  }
  .why-us > p {
    width: 80%;
    font-size: 0.9rem;
  }
  /* faq-section */
  .icons,
  footer p {
    width: 80%;
  }
  /* form-section */
  form {
    width: 100%;
    padding: 2rem;
    font-size: 0.7rem;
  }
  label,
  input,
  select,
  option {
    width: 100%;
  }
  .contact-btn {
    width: 100%;
  }
}

/* Styles for small smartphones (320px and below) */
@media screen and (max-width: 320px) {
  nav > ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-img-link {
    width: 55%;
    padding: 0;
  }
  main {
    padding-bottom: 0.8rem;
  }
  .wrapper {
    width: 100%;
    padding: 1rem;
    flex-direction: column-reverse;
  }
  .wrapper .banner {
    width: 100%;
    padding: 0;
  }
  .banner-img {
    width: 100%;
  }
  .main-btns {
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  /* services-section */
  #services {
    padding: 0;
  }
  .services {
    padding: 1rem;
  }
  .flex {
    flex-direction: column;
  }
  .card {
    width: 100%;
    align-items: center;
    padding: 1rem;
  }
  .card > h3 {
    width: 100%;
  }
  /* contact-section */
  .contact {
    flex-direction: column;
  }
  .booking,
  .contact-now {
    width: 100%;
  }
  /* partner-section */
  .partners-banner > h1 {
    bottom: 0.5rem;
    font-size: 1rem;
    padding: 0;
  }
  .partners-info {
    bottom: 0.5rem;
  }
  .partners-info {
    width: 90%;
  }
  .partners-info > h3 {
    font-size: 1rem;
  }
  .flex-imgs > img {
    width: 50%;
  }
  .why-us {
    width: 100%;
  }
  .why-us > h2 {
    font-size: 1rem;
    width: 80%;
  }
  .why-us > p {
    width: 80%;
    font-size: 0.7rem;
  }

  /* faq-section */
  .icons {
    width: 100%;
  }
  footer p {
    width: 100%;
  }

  /* form-section */
  form {
    width: 100%;
    padding: 2rem;
    font-size: 0.7rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
  }
}
